[Desktop Entry]
Encoding=UTF-8
Name=Link to python - Best way to choose a random file from a directory - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/701402/best-way-to-choose-a-random-file-from-a-directory
Icon=text-html
